<!--
 * @Author: your name
 * @Date: 2021-06-22 16:07:56
 * @LastEditTime: 2021-06-22 16:32:44
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \yodn\demo1.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo2</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<style>
    body{
        background-color:black;
        color:white;
    }
</style>
<body>
    <div id="app"></div>
</body>
<script>
    const app = Vue.createApp({
        data(){
            return{
                list:['1','2','3'],
                inputValue:''
            }
        },
        methods: {
            handleAddItem(){
                this.list.push(this.inputValue)
                this.inputValue=''
            }
        },
        template:`<div>
                    <input v-model='inputValue' />
                    <button v-on:click='handleAddItem'>添加</button>
                    <ul>
                        <li v-for="(item,index) of list">{{index}} - {{item}}</li>
                    </ul>
                  </div>
                  `
    }).mount('#app')
</script>
</html>